
* {
    font-family: "Helvetica", "Comic Sans MS", Arial, sans-serif;
}

body {
    margin: 0px;
    background-color: wheat;
}

#header {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#header h1 {
    color: white;
}

#header button {
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 50px;
    color: white;
    background-color: #222;
}

#header button:hover {
    background-color: #111;
}


#grid {
    position: relative;
    background-color: #666;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;

    width: 380px;
    height: 450px;

    margin: 100px auto;

    border-radius: 8px;
}

.grid-row {
    background-color: rgba(1, 1, 1, 0);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.grid-cell {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: #444;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 4px solid grey;
    /*border-right: 3px solid grey;*/
}

.grid-cell-content {
    color: white;
    position: absolute;
    font-size: 48px;
}

.currentCell {
    border-bottom: 4px solid white;
}

.correctCell {
    background-color: rgb(70, 145, 17);
}

.closeCell {
    background-color: rgb(205, 165, 17);
}

